* {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header {
  text-align: center;
  background-color: cadetblue;
  padding: 50px;
}

.title {
  color: white;
  font-family: initial;
  font-size: 50px;
}

.form {
  padding: 30px;
}

.main {
  height: 100vh;
  display: flex;
  align-content: space-between;
  background: linear-gradient(to bottom, rgb(3, 57, 61), white);
}

.button__search {
  padding: 10px;
  background-color: white;
  color: cadetblue;
  border-color: cadetblue;
}

.input__search {
  padding: 10px;
}

.favorites__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  order: -1;
  margin: 100px 0 0 20px;
}
.subtitle {
  color: white;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.button__reset {
  padding: 10px;
  margin-top: 10px;
}

.list__shows {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  color: rgb(8, 48, 44);
}

/* JavaScript */

.fav__show {
  border: turquoise 2px solid;
}

.list__Shows--item {
  margin: 0px 10px 0 10px;
}
.list__favorites {
  color: rgb(8, 48, 44);
}
